app-setting-group-step {
    margin-bottom: 20px;
    display: block;
}
h5.step-subtitle {
    color: var(--primary);
    font-size: 15px;
    font-weight: 600;
    line-height: 18px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.custom-step-desc {
    p {
        color: var(--primary);
        font-size: 15px;
        font-weight: 400;
        line-height: 20px;
        margin-bottom: 10px;
        opacity: 0.8;
    }
    a {
        color: var(--secondary);
        opacity: 1;
        font-weight: 600;
    }
}
