<div class="page-content">
    <div class="row">
        <div class="col-md-8 col-lg-8 col-sm-12">
            <div class="settingFormWrap">
                <h3 class="page-title">
                    {{ 'company.settings.menu.clientStep' | translate }}
                    <img
                        [pTooltip]="'company.settings.projectSteps.featureInfo' | translate"
                        tooltipPosition="top"
                        src="/assets/img/icons/ic_info_blue.svg"
                        alt=""
                    />
                </h3>
                <app-setting-group-step></app-setting-group-step>
                <app-setting-group-step></app-setting-group-step>
            </div>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-12">
            <div class="settingFormWrap">
                <h5 class="step-subtitle">{{ 'company.settings.projectSteps.customStep' | translate }}</h5>
                <div
                    class="custom-step-desc"
                    [innerHTML]="
                        'company.settings.projectSteps.customStepDescription'
                            | translate: { contactEmail: Environment.contactMail }
                    "
                ></div>
            </div>
        </div>
    </div>
</div>
