<div class="sub-step-item">
    <div class="row">
        <div class="sub-step-info col-xs-8 col-sm-8 col-md-9">
            <ng-container *ngIf="!editStepName">
                <span class="sub-step-name">{{ name }}</span>
            </ng-container>
            <input
                type="text"
                (blur)="validEditName()"
                (keyup)="keyUp($event)"
                (keydown)="$event.stopPropagation()"
                [(ngModel)]="name"
                [class.hidden]="!editStepName"
                class="form-control"
                #editStepNameField
            />
        </div>
        <div class="col-xs-4 col-sm-4 col-md-3 text-right step-action">
            <p-inputSwitch class="small"></p-inputSwitch>
            <i (click)="onEditMainStepNameClick($event)" class="fa-solid fa-pen-to-square"></i>
        </div>
    </div>
</div>
