.fa-pen-to-square {
    font-size: 20px;
    color: var(--secondary);
}
.sub-step-item {
    padding: 10px 15px;
    border: 1px solid var(--border-color);
    border-top: none;
    background: var(--grey-bg);
    .sub-step-name {
        color: var(--primary);
        font-weight: 400;
        font-size: 14px;
    }
    .step-action {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        > * {
            margin-left: 10px;
            cursor: pointer;
        }
    }
    .sub-step-info {
        display: flex;
        align-items: center;
    }
}
