<div class="formWrapGris">
    <div class="row">
        <div class="col-xs-8 col-md-9">
            <label for="" class="param-bloc-title">
                {{ 'company.settings.parameters.lossProject.description' | translate }}
                <img
                    [pTooltip]="'company.settings.parameters.lossProject.info' | translate"
                    tooltipPosition="top"
                    src="/assets/img/icons/ic_info_blue.svg"
                    alt=""
                />
            </label>
            <label for="" class="param-bloc-desc">
                {{ 'company.settings.parameters.lossProject.description' | translate }}
            </label>
        </div>
    </div>
    <div class="row simple-setting-list-group">
        <ul class="list-group">
            <app-loss-child-project
                *ngFor="let item of items"
                [itemId]="item.id"
                [itemValue]="item.value"
            ></app-loss-child-project>
        </ul>
        <div class="form-add-container">
            <label for="" class="param-bloc-desc">
                {{ 'company.settings.parameters.lossProject.addReason' | translate }}
            </label>
            <div class="input-group">
                <input
                    class=""
                    type="text"
                    placeholder="{{ 'company.settings.parameters.lossProject.addReason' | translate }}"
                    [(ngModel)]="newItemValue"
                    (keydown.enter)="addItem(newItemInput.value)"
                    #newItemInput
                />
                <button class="btn btn-secondary add-button" (click)="addItem(newItemInput.value)">
                    {{ 'company.settings.parameters.lossProject.addBtn' | translate }}
                </button>
            </div>
        </div>
    </div>
</div>
