<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand hidden" (click)="onToggledMenu($event)" id="sidebar-toggle">
                <i class="fa fa-bars"></i>
            </a>
            <div class="company-logo">
                <img
                    src="https://preprod.scoplan.com/media/cache/resolve/company_thumb/uploads/636f6d70616e792d3330/image/18cb7e42ff3c6cca8f22e15358fce22d.png"
                    alt=""
                />
            </div>
            <div class="mark-select">
                <select class="form-control">
                    <option>Constructeur de Maison</option>
                    <option>Maison Reno</option>
                </select>
            </div>
            <div class="pull-right right-menu">
                <a href="/fr/project/create" class="btn btn-secondary text-uppercase">Créer un nouveau projet</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</nav>
