nav {
    background: white;
    height: 70px;
    border-bottom: 1px solid var(--border-color);
    .navbar-header {
        width: 100%;
    }
    .navbar-header > * {
        display: inline-block;
    }
    .company-logo {
        margin-right: 15px;
        img {
            height: 100%;
            width: 175px;
            object-fit: contain;
        }
    }
    .mark-select {
        select {
            color: #000;
            display: inline-block;
            font-family: inherit;
            font-size: 13px;
            width: 150px;
        }
    }
    .right-menu > * {
        display: inline-block;
    }
    .btn {
        font-weight: 600;
        font-size: 15px;
    }
}
