body {
    font-family: 'Source Sans 3', monospace;
    background: var(--page-bg);
    -webkit-text-size-adjust: 100%;
}
.hidden {
    display: none !important;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
.pull-right {
    float: right;
}
.pull-left {
    float: left;
}
.btn {
    border-radius: 3px;
}
.btn-secondary,
.btn-primary,
.btn-success,
.btn-danger {
    color: white;
    font-family: 'Source Sans 3', monospace;
}
.btn-secondary:hover,
.btn-primary:hover,
.btn-success:hover,
.btn-danger:hover {
    color: white;
}
p-inputswitch.small {
    scale: 0.6;
}
.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
    background: var(--success);
}
.p-inputswitch.p-focus .p-inputswitch-slider {
    box-shadow: none;
}
.page-content {
    padding: 30px;
    h3.page-title {
        font-size: 22px;
        font-weight: 600;
        color: var(--primary);
    }
}
.p-tooltip {
    .p-tooltip-text {
        background: var(--primary-bg);
        padding: 5px 10px;
        font-size: 13px;
    }
    .p-tooltip-arrow.p-tooltip-right {
        border-right-color: var(--primary-bg);
    }
    .p-tooltip-arrow.p-tooltip-left {
        border-left-color: var(--primary-bg);
    }
    .p-tooltip-arrow.p-tooltip-top {
        border-top-color: var(--primary-bg);
    }
    .p-tooltip-arrow.p-tooltip-bottom {
        border-bottom-color: var(--primary-bg);
    }
}
