$primary: #13384b;
$danger: #fd5400;
$secondary: #00c3ed;
$success: #aed217;
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ubix-front-primary: mat.define-palette(mat.$indigo-palette);
$ubix-front-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ubix-front-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ubix-front-theme: mat.define-light-theme(
    (
        color: (
            primary: $ubix-front-primary,
            accent: $ubix-front-accent,
            warn: $ubix-front-warn,
        ),
    )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($ubix-front-theme);

/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
:root {
    --primary: #1e4b63;
    --primary-bg: #13384b;
    --light-primary: #40596f;
    --secondary: #69c2ec;
    --orange: #fd5400;
    --success: #aed217;
    --yellow: #ffd000;
    --page-bg: #f5f7fa;
    --primary-color: #13384b;
    --font-family: 'Source Sans 3', monospace;
    --border-color: #ececec;
    --grey-bg: #f9f9f9;
    --dark-blue-gray: #2a3f54;
    --light-border: #eee;
}
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';

$theme-colors: (
    'primary': $primary,
    'danger': $danger,
    'secondary': $secondary,
    'success': $success,
);
@import 'bootstrap/scss/bootstrap';
@import 'global';
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// PrimeNG
@import 'primeng/resources/themes/lara-light-blue/theme.css';
@import 'primeng/resources/primeng.css';

html,
body {
    height: 100%;
}
body {
    margin: 0;
}
