<li class="list-group-item">
    <div class="item-value-container" *ngIf="!isEditing">
        <span>{{ itemValue }}</span>
    </div>
    <div class="item-value-container" *ngIf="isEditing">
        <input type="text" [(ngModel)]="itemValue" />
    </div>
    <div class="icon-container">
        <i class="fa-regular fa-pen-to-square" [class.hidden]="!isEllipsisVisible" (click)="toggleEdit()"></i>
        <i class="fa-solid fa-xmark" [class.hidden]="!isEllipsisVisible"></i>
        <i class="fa-solid fa-ellipsis-vertical" [class.hidden]="!isMenuVisible" (click)="onEllipsisClick()"></i>
        <i class="fa-solid fa-check" [class.hidden]="!isCheckisVisible" (click)="validateInput()"></i>
    </div>
</li>
