<div class="formWrapGris">
    <div class="row">
        <div class="col-xs-8 col-md-9">
            <label for="" class="param-bloc-title">{{
                'company.settings.advancedParameters.crm.title' | translate
            }}</label>
            <label for="" class="param-bloc-desc">{{
                'company.settings.advancedParameters.crm.description' | translate
            }}</label>
        </div>
        <div class="col-xs-4 col-md-3 text-right">
            <p-inputSwitch></p-inputSwitch>
        </div>
    </div>
</div>
