<div class="page-content">
    <h3 class="page-title">{{ 'company.settings.menu.parameters' | translate }}</h3>
    <div class="row">
        <div class="settingFormWrap col-md-10 col-lg-10 col-sm-12">
            <app-loss-project></app-loss-project>
        </div>
    </div>
</div>
