<div class="page-content">
    <h3 class="page-title">{{ 'company.settings.menu.expertParameters' | translate }}</h3>
    <div class="row">
        <div class="settingFormWrap col-md-10 col-lg-10 col-sm-12"></div>
    </div>
</div>
