<div id="wrapper" [ngClass]="{ toggled: toggled }">
    <aside id="sidebar-wrapper">
        <div class="sidebar-brand">
            <h2><img src="/assets/img/ubix-logo.svg" alt="Ubix Solar" /></h2>
        </div>
        <ul class="sidebar-nav">
            <li [class.active]="activeMenu === LeftMenu.projects">
                <a routerLink="/">
                    <img src="/assets/img/icons/home.png" alt="" />
                    <span>{{ 'company.sidebar.projects' | translate }}</span>
                </a>
            </li>
            <!--            <li>-->
            <!--                <a href="#" (click)="goToSav($event)">-->
            <!--                    <img src="/assets/img/icons/settings.png" alt="" />-->
            <!--                    <span>{{ 'company.sidebar.sav' | translate }}</span>-->
            <!--                </a>-->
            <!--            </li>-->
            <li [class.active]="activeMenu === LeftMenu.settings">
                <a routerLink="/settings">
                    <img src="/assets/img/icons/settings.png" alt="" />
                    <span>{{ 'company.sidebar.settings' | translate }}</span>
                </a>
            </li>
        </ul>
    </aside>

    <div id="navbar-wrapper">
        <app-logged-top-bar (toggledMenu)="toggledMenu($event)"></app-logged-top-bar>
    </div>

    <section id="content-wrapper">
        <router-outlet></router-outlet>
    </section>
</div>
