.fa-pen-to-square {
    font-size: 20px;
    color: var(--secondary);
}
.main-step-header {
    background: var(--primary-bg);
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    img.step-icon {
        margin-right: 15px;
    }
    .step-name {
        font-weight: 600;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 15px;
    }
    .step-action {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        > * {
            margin-left: 10px;
            cursor: pointer;
        }
        .fa-pen-to-square {
            font-size: 20px;
            color: var(--secondary);
        }
    }
}
.main-step-content {
    background-color: var(--grey-bg);
    ::ng-deep .p-orderlist-controls {
        display: none;
    }
    ::ng-deep .p-orderlist-list-container {
        ul {
            padding: 0;
            margin: 0;
            border: none;
            min-height: unset;
            li {
                padding: 0;
            }
        }
    }
}
