<div class="main-step-header" (click)="toggleCollapse()">
    <div class="row">
        <div class="col-xs-8 col-sm-8 col-md-9">
            <ng-container *ngIf="!editMainStepName">
                <img class="step-icon" src="/assets/img/steps/middleware_step_welcome_v2.svg" alt="" />
                <span class="step-name">{{ mainStepName }}</span>
            </ng-container>
            <input
                type="text"
                (click)="$event.stopPropagation()"
                (blur)="validEditName()"
                (keyup)="keyUp($event)"
                [(ngModel)]="mainStepName"
                [class.hidden]="!editMainStepName"
                class="form-control"
                #editStepNameField
            />
        </div>
        <div class="col-xs-4 col-sm-4 col-md-3 text-right step-action">
            <i class="fa-solid" [ngClass]="{ 'fa-chevron-up': !collapsed, 'fa-chevron-down': collapsed }"></i>
            <p-inputSwitch class="small"></p-inputSwitch>
            <i (click)="onEditMainStepNameClick($event)" class="fa-solid fa-pen-to-square"></i>
        </div>
    </div>
</div>
<div class="main-step-content" [(ngbCollapse)]="collapsed">
    <p-orderList [value]="temps" [dragdrop]="true">
        <ng-template let-item pTemplate="item">
            <app-setting-child-step [name]="item"></app-setting-child-step>
        </ng-template>
    </p-orderList>
</div>
