.top-menu {
    a.p-menuitem-link {
        text-decoration: none;
        box-sizing: border-box;
        color: var(--primary);
        font-size: 14px;
        font-weight: 600;
        line-height: 70px;
        opacity: 0.8;
        text-align: center;
        text-transform: uppercase;
    }
    .p-highlight {
        a.p-menuitem-link {
            border-bottom: 4px solid var(--secondary);
            color: var(--secondary);
        }
    }
}
.settingFormWrap {
    background-color: white;
    border: 1px solid var(--border-color);
    display: inline-block;
    padding: 20px;
    width: 100%;
    .formWrapGris {
        background-color: var(--grey-bg);
        border: 1px solid var(--border-color);
        border-radius: 3px;
        padding: 20px;
        .param-bloc-title {
            font-size: 14px;
            font-weight: 700;
            color: var(--primary);
            line-height: 19px;
            display: block;
            padding-bottom: 5px;
        }
        .param-bloc-desc {
            color: var(--primary);
            font-weight: 400;
            line-height: 19px;
            display: block;
            font-size: 13px;
        }
        // reusable for simple list settings like lost origin, document filing folder, contact origin, etc
        .simple-setting-list-group {
            padding: 20px 10px 0px 12px;
            input {
                box-sizing: content-box;
                border: 1px solid var(--grey-color);
                border-radius: 5px;
                height: 30px;
                padding: 5px;
                width: 100%;
                outline: none;
                color: var(--dark-blue-gray);
            }
            input:focus {
                border-color: var(--border-color);
                box-shadow: none;
            }
            ul.list-group {
                li.list-group-item {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    height: 50px;
                    align-content: center;
                    border-left: none;
                    border-bottom: none;
                    background-color: var(--grey-bg);
                    border-right: none;

                    .item-value-container {
                        color: var(--dark-blue-gray);
                        font-size: 13px;
                        input {
                            border: 1px solid var(--dark-blue-gray);
                        }
                    }
                    .icon-container {
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        gap: 10px;
                        i {
                            font-size: 15px;
                            font-weight: bold;
                            cursor: pointer;
                            line-height: unset;
                        }
                        .fa-check,
                        .fa-pen-to-square {
                            color: green;
                        }
                        .fa-xmark {
                            color: var(--orange);
                            font-size: 20px;
                        }
                    }
                }
            }
            .form-add-container {
                padding-left: 15px;
                margin-top: 20px;
                display: flex;
                flex-direction: column;
                gap: 5px;
                .input-group {
                    flex-wrap: nowrap;
                    input {
                        outline: none;
                        height: 40px;
                        border: 1px solid var(--light-border);
                    }
                    input::placeholder {
                        font-size: 12px;
                    }
                    .add-button {
                        width: 200px;
                    }
                }
            }
        }
    }
}
